@font-face {
  font-family: 'Linden Hill';
  src: url('LindenHill-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Linden Hill';
  src: url('LindenHill-Italic-webfont.woff') format('woff');
  font-style: italic;
}

body {
  width: 30em;
  margin: auto;
  font: 20pt 'Linden Hill';
  color: #333;
}

h1 {
  text-align: center;
}

p {
  line-height: 1.4em;
}

ol, ul {
  margin-left: 1em;
}

ol li,
ul li {
  margin-bottom: 0.25em;
}

ul.math-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  text-align: center;
}

.term {
  color: #000;
  display: inline-box;
  padding: 5px 10px;
  margin: 0 -10px;
  border-radius: 0.25em;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 255, 0, 0.1),
    rgba(255, 255, 0, 0.7) 10%,
    rgba(255, 255, 0, 0.7) 90%,
    rgba(255, 255, 0, 0.1)
  );
}

.figure {
  text-align: center;
}

.figure img {
  max-width: 100%;
}

.figure .caption {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  font-size: 90%;
  font-style: italic;
}

.aside {
  padding: 1em;
  margin: 2em;

  font-size: 90%;

  color: #3d3d32;
  background: #fffccc;
  border: 2px solid #cca;
  border-radius: 10px;
}
