@font-face {
  font-family: 'Linden Hill';
  src: url('LindenHill-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Linden Hill';
  src: url('LindenHill-Italic-webfont.woff') format('woff');
  font-style: italic;
}

body {
  width: 30em;
  margin: auto;
  padding-bottom: 1em;
  font: 20pt 'Linden Hill';
  color: #333;
}

h1 {
  text-align: center;
}

h1 + address {
  margin-top: -20px;
  text-align: center;
}

h1 + address:before {
  content: "by ";
}

body#index {
  overflow-x: hidden;
}

body#index p.header-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 500px;
  margin-top: 0;

  display: flex;
  justify-content: center;

  background-color: black;
}

body#index h1 {
  margin-top: 500px;
  padding-top: 0.5em;
}

body.project h2.step {
  counter-increment: project-step;
}

body.project h2.step::before {
  content: "Step " counter(project-step) ": ";
}

p {
  line-height: 1.4em;
}

ol, ul {
  margin-left: 1em;
}

ol li,
ul li {
  margin-bottom: 0.25em;
}

ul.math-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  text-align: center;
}

.term {
  color: #000;
  display: inline-box;
  padding: 5px 10px;
  margin: 0 -10px;
  border-radius: 0.25em;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 255, 0, 0.1),
    rgba(255, 255, 0, 0.7) 10%,
    rgba(255, 255, 0, 0.7) 90%,
    rgba(255, 255, 0, 0.1)
  );
}

.figure {
  text-align: center;
}

.figure img {
  max-width: 100%;
}

.figure .caption {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  font-size: 90%;
  font-style: italic;
}

.aside {
  padding: 1em;
  margin: 2em;

  font-size: 90%;

  color: #3d3d32;
  background: #fffccc;
  border: 2px solid #cca;
  border-radius: 10px;
}

.hint {
  padding: 1em;
  margin: 2em;

  font-size: 90%;

  color: #3d3d32;
  background: #ddffdd;
  border: 2px solid #aca;
  border-radius: 10px;
}

.hint:before {
  content: "Hint: ";
  font-style: italic;
}

.exercise {
  font-style: italic;
}

pre {
  font-size: 75%;
}
